/*
	Eventually by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* BG */

#bg {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
}

/* Type */
body,
input,
select,
textarea {
    color: #fff;
}

/* Form */
input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    border: solid 2px #fff;
}